body {
    font-family: '__Poppins_7c3e2b', '__Poppins_Fallback_7c3e2b';
    margin-top: 1.5em;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

form {
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.bg-secondary {
    background-color: rgb(84 113 139) !important;
}

.TIPO {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.FABRICANTE {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.MODELO {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.UNIDADE {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.COMPLEMENTOS {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.DESCRICAO {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.DESCRICAOESP {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    text-align: end;
}

.container {
    max-width: 100%;
}

.required:after {
    content:"*"; 
    color: red;
}